@charset "UTF-8";

@media (max-width: 960px) {
@font-face {
    font-family: 'Netflix Sans';
    src: url(../font/NetflixSans-Light.otf) format(opentype), 
    url(../font/NetflixSans-Medium.otf) format(opentype),
    url(../font/NetflixSans-Regular.otf) format(opentype),
    url(../font/NetflixSans-Bold.otf) format(opentype),
    url(../font/NeflixSans-Bolder.ttf) format(truetype);
}

body{
    font-family: 'Netflix Sans',Helvetica Neue, Segoe UI,Roboto, Ubuntu, sans-serif;
    background-color: #232323;
    color: white;
}

#header{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
}

#netflix-logo{
    width: 100px;
}

#options-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.idiomas{
    background-color: rgba(0, 0, 0, 0.377);
    background-image: url(../img/globo-icon.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
    color: white;
    font-size: 16px;
    padding: 7px 0px;
    padding-left: 2.25rem;
    padding-right: 12px;
    border-radius: 5px;
    border: 1px solid #232323;
}

.idiomas:focus{
    border: 2px solid rgb(218, 218, 218);
}

#botao-login{
    background-color: #E50914;
    color: white;
    font-weight: medium;
    padding: 5px 15px 8px 15px;
    border-radius: 5px;
}

#botao-login:hover{
    background-color: #C11119;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#all{
    width: 100%;
    background-color: #232323;
}

/*Home*/
#home{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

#informacoes-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
}

#home h1{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
#textopri-home{
    font-size: 20px;
    text-justify:  distribute;
    margin-bottom: 20px;
}

#textosec-home{
    font-size: 20px;
    margin-bottom: 10px;
}

#form-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#iemail{
    width: 350px;
    background-color: rgba(36, 36, 36, 0.63);
    color: white;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 3px;
    border: 0.5px solid #a3a3a3;
}
#ivamos{
    width: 175px;
    background-color: #E50914;
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#ivamos:hover{
    background-color: #C11119;
}

/*Card*/

#card{
    background-image: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    width: 88%;
    height: 120px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 25px;
    top: 550px;
    border-radius: 5px;
}

#informacoes-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#informacoes-card h1{
    font-size: 18px;
    margin-bottom: 10px;
}

#informacoes-card p{
    font-size: 16px;
    margin-bottom: 10px;
}

#informacoes-card a{
    position: relative;
    width: 50%;
    color: #448ED6;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration-line: underline;
}

#informacoes-card img{
    width: 20px;
    position: absolute;
    left: 45%;
}

/*Tv*/
#tv{
    margin-top: -70px;
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
#informacoes-tv{
    margin: 50px 50px 0px 50px;
    width: 514.08px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#informacoes-tv h1{
    font-size: 25px;

}

#informacoes-tv p{
    font-size: 20px;
    margin-top: 15px;
}

.manter-tv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manter-tv img{
    position: relative;
    width: 80%;
}

.manter-tv video{
    position: absolute;
    display: flex;
    width: 60%;
    left: 20%;
    top: 20%;
}

/*Onde quiser*/
#onde-quiser{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#informacoes-onde-quiser{
    margin: 50px;
    width: 514.08px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#informacoes-onde-quiser h1{
    font-size: 25px;
}

#informacoes-onde-quiser p{
    font-size: 15px;
    margin-top: 15px;
}

#onde-quiser img{
    width: 80%;
}

.manter-disp{
    position: relative;

    margin-left: 125px;
}

.manter-disp video{
    position: absolute;
    width: 50%;
    left: 15%;
    top: 10%;
}

/*Kids*/
#kids{
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kids img{
    width: 40%;
    margin-left: 70px;
}

#informacoes-kids{
    margin: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#informacoes-kids h1{
    font-size: 25px;

}

#informacoes-kids p{
    font-size: 15px;
    margin-top: 15px;
}

/*Download*/
#download{
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: -50px;
}

#download > img{
    width: 50%;
}

#informacoes-download{
    margin-top: 25px;
    width: 44%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#informacoes-download h1{
    font-size: 25px;
}

#informacoes-download p{
    font-size: 15px;
    margin-top: 15px;
}

.manter-download{
    position: relative;

    width: 60%;
}

.manter-download img{
    width: 100%;
}

#card-download{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 18%;
    border-radius: 10px;
    background-color: black;
    border: 2px solid grey;
    gap: 15px;
    padding: 10px 15px;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    top: 68%;
    min-width: 15rem;
}

#informacoes-card-download{
    width: 80%;;
}

#card-download h1{
    font-size: 16px;
}

#card-download p{
    font-size: 14px;
    color: #0068E4;
}

#download-icon{
    width: 15%;
}

#boxshot{
    width: 21%;
}

.manter-download{
    position: relative;

}

.manter-download video{
    position: absolute;
    width: 320px;
    left: 95px;
    top: 40px;
}

/*Perguntas Frequentes*/
#perguntas{
    margin-top: 10px;
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 25px;

}

#perguntas-frequentes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.perguntas-freq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 84px;
    background-color: rgb(45, 45, 45);
    margin: 0px 0px 10px 0px;
    color: white;
    border: 0;
    padding: 0px 25px;
    font-size: 25px;
    cursor: pointer;
}

.perguntas-freq:hover{
    background-color: #4E4E4E;
}

.perguntas-freq img{
    width: 50px;
}

#textosec-perguntas{
    font-size: 20px;
    margin-bottom: 10px;
}

#form-email-perguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 15px 0px 30px 0px;
}

#iemail-perguntas{
    width: 350px;
    background-color: rgba(36, 36, 36, 0.63);
    color: white;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 3px;
    border: 0.5px solid #a3a3a3;
}
#ivamos-perguntas{
    width: 175px;
    background-color: #E50914;
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#ivamos-perguntas:hover{
    background-color: #C11119;
}

/*Footer*/
footer{
    margin-top: 10px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 50px;
}

#informacoes-footer{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 155px 0px 155px;
    text-align: left;
}

footer nav{
    width: 100%;
    margin: 40px 0px;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer > #informacoes-footer > nav > a{
    color: rgba(255, 255, 255, 0.575);
    text-decoration-line: underline;
    margin: 5px 20px 5px 20px;
    font-size: 13px;
}

footer > #informacoes-footer > p > a{
    color: rgba(255, 255, 255, 0.575);
    text-decoration-line: underline;
    font-size: 13px;
}

footer p{
    color: rgba(255, 255, 255, 0.575);
    margin-top: 25px;
    font-size: 15px;
}

#idioma-s{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.377);
    background-image: url(../img/globo-icon.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
    color: white;
    font-size: 16px;
    padding: 7px 0px;
    padding-left: 2.25rem;
    padding-right: 12px;
    border-radius: 5px;
    border: 1px solid #232323;
}


}